@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Lab 1 - Super Calculator</h1>
    <p class="lead">Test it carefully!!!</p>
</div>

<div class="row">
    <div class="col-md-12">
        @model lab1azure.Models.Calculator
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
            @Html.Label("First Number", new { htmlAttributes = new { @class = "form-control" } })
            @Html.EditorFor(m=>m.firstNumber, new { htmlAttributes = new{@class="form-control"} })
            <br />
            @Html.Label("Second Number", new { htmlAttributes = new { @class = "form-control" } })
            @Html.EditorFor(m => m.secondNumber, new { htmlAttributes = new { @class = "form-control" } })
            <br />
            @Html.Label("Result Number", new { htmlAttributes = new { @class = "form-control" } })
            <br />
            @Html.DisplayFor(m => m.result, new { htmlAttributes = new { @class = "form-control" } })
            <br/>
            <input type="submit" id="btn1" class="btn btn-success" name="calc"  value="Add" onclick="Check()"/>
            <input type="submit" id="btn2" class="btn btn-info" name="calc"  value="Sub" onclick="Check()" />
            <br />
            <input type="submit" id="btn3" class="btn btn-warning" name="calc"  value="Mult"  onclick="Check()"/>
            <input type="submit" id="btn4" class="btn btn-danger" name="calc"  value="Div"  onclick="Check()"/>
        }
    </div>
</div>

<script type="text/javascript">
    function Check() {
        var firstValue = document.getElementById("firstNumber").value;
        var secondValue = document.getElementById("firstNumsecondNumber").value;
        if (firstValue==''||secondValue=='') {
            alert('Please, fill the all fields!');
        }
    }
</script>

<style >
    #btn1,#btn2,#btn3,#btn4{
        width:100px;
        margin:5px;
    }
</style>